@media only screen and (min-width: 64rem ) {
    
    /*nav ul li a{padding: .6rem 1rem;}*/
    
    nav button { display: none; }  /* hamburger button does not need to be shown in the medium on up views */
    
    nav ul.hide {display: inline-flex;}
    nav ul{margin-left: 2%;}
    nav ul li {
        display: inline-flex
    }
    
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0);
        padding: .6rem 1rem;
    }
    
    .cities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    }
    .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

    section.towndata {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
}
    
    .forecast {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr;
    border: 5px solid #e3170a;
    text-align: center;
}

    .forecast h3 {
    font-size: 1.5rem;
    text-align: center;
    font-family: "acme",sans-serif;
    color:  #008fd5;
    font-size: 1.5rem;
   }
    
     
    .forecast table, th, td  {
    border-collapse: collapse;
    border: 1px solid gray;
    padding: 10px; 
    font-size: 1.5rem;
    margin-top: 10px;
    }
    
   
  