@media only screen and (min-width: 37.5rem) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
   /* nav button { display: none; }  /* hamburger button does not need to be shown in the medium on up views */
    
   /* nav ul.hide {display: block;}
    nav ul{margin-left: 2%;}
    nav ul li {
        float: left
    }
    
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0);
        padding: .8rem 1rem;
    }*/
  
     .forecast {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr;
    border: 5px solid #e3170a;
    }
     .forecast h3 {
    font-size: 1.5rem;
    text-align: center;
    font-family: "acme",sans-serif;
    color:  #008fd5;
    font-size: 1.5rem;
   }
    
   
    .forecast table, th, td  {
    border-collapse: collapse;
    border: 1px solid gray;
    padding: 10px; 
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
    }
    
    section.towndata {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
}
    /* show the 10-day forecast with the medium view and up */

    /*----Clearfix:  Force an Element not to collapse ____*/
    .clearfix:after{
        content: "";
        display: table;
        clear: both;
    }
    
    .cities {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
    .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

  }