* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Faster One', cursive;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
    width: 800px;
    height: 0x;
    background-size: 0 200px 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right,blue 0%,red 100%),url('w3css.gif');
    background-blend-mode:normal;
}

header p {
  font-size: 2.0rem;
  font-weight: bold;
  text-align: center;
    
}

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
    padding-left: 16px;
   width: 200px;
    height: 0x;
    background-size: 0 200px 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right,blue 0%,red 100%),url('w3css.gif');
    background-blend-mode:normal;    
  margin-bottom: 10px;
}
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About
