@media only screen and (min-width: 37.5rem) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
   /* nav button { display: none; }  /* hamburger button does not need to be shown in the medium on up views */
    
   /* nav ul.hide {display: block;}
    nav ul{margin-left: 2%;}
    nav ul li {
        float: left
    }
    
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0);
        padding: .8rem 1rem;
    }*/
   .forecast {
    display: inline-grid;
    text-align: center}  /* show the 10-day forecast with the medium view and up */

    /*----Clearfix:  Force an Element not to collapse ____*/
    .clearfix:after{
        content: "";
        display: table;
        clear: both;
    }
  }