/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px; 
  font-family: "Open Sans",regular; /* Declare the base font-family */
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 1300px;
    margin: 0 auto;/* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
    font-family: "Acme";
    height: 6em;
                   }
header img {
    width: 4.5rem;
    height: auto;
    margin-left: 1rem;
    }
header h1 {
    font-size: 32px;
    color: #008fd5;
    margin: 0;
    }
header h2 {
    font-size: 24px;
    color: #e3170a;
    margin: 0;
 }
.heading {
    position: relative;
    top: -6rem;
    left: 5.5rem;
}
nav {
       font-size: 18px;
}
nav button {}
nav ul {
    list-style-type: none;
    }
nav ul li {
  }
nav ul li a {
   }
nav ul li.active a {
    background-color: #e3170a; 
    }
nav ul li a:hover {
    background-color: #008fd5;
    }   
main {
      
    }
main figure { margin: 0 0 .2rem 2%; width:96%; 
   
         }
main figure img {
    
       }
main h2 {
   text-align: center;
   color: #008fd5;
    font-family:  "acme";
    }
main h3 {
    display: none;
    color: #008fd5;
    }
.current {
    font-size: 24px;
    
  }
picture img {
   
}
.highlow{
  
    top: 350px;
    
}

.forecast{
    display: none
}

footer {
    text-align: center;
}