html {
  font-family: "ubuntu", sans-serif;
}

table, td, th {
  border-collapse: collapse;
  border: 2px solid #e7f0ed;
  letter-spacing: 1px;
  font-size: 0.8rem;
  padding: 10px 20px;
  border-bottom-style: outset;
  border-right-style: outset;
  border-right-color: #7fb9c2;
}

thead th {
    color: black;
    font-size:  1.6rem;
    background-color: #7fb9c2;
    }

tfoot td {
    font-size: 0.6rem;
    text-align: center;
    background-color: #7fb9c2;
}
 
tbody th {
    color: white;
    background-color: #628ca6;
    font-size: 1.0rem;
}

tbody td{
    text-align: center;
   background-color: #e7f0ed;
}


